h1 #{@user["user_name"]}
a href="./#{@user["user_name"]}/update"
    h2 Update data.
h2 Percent played #{@user["extrapolated_data"]["percent"][1]}; #{@user["extrapolated_data"]["percent"][0].round(2)}%
h2 Playtime during last week: #{@user["extrapolated_data"]["last_week"].round(2)} hours.
h2 Average playtime per day #{@user["extrapolated_data"]["percent"][1]}; #{@user["extrapolated_data"]["average_day"].round(2)} hours.
img src=@user["graph_image_path"]

h1 Friend's list
